{
  "singleQuote": true,
  "bracketSpacing": true,
  "printWidth": 120,
  "tabWidth": 2,
  "tailwindPreserveWhitespace": true,
  "semi": true,
  "useTabs": false,
  "trailingComma": "es5",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^types$",
    "^@/env(.*)$",
    "^@/types/(.*)$",
    "^@/hooks/(.*)$",
    "^@/providers/(.*)$",
    "^@/utils/(.*)$",
    "^@/api/(.*)$",
    "^@/components/(.*)$",
    "^@/app/(.*)$",
    "^[./]"
  ],
  "plugins": ["prettier-plugin-tailwindcss", "@ianvs/prettier-plugin-sort-imports"]
}
