@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background: #f0f0f0;
    --star-size: 20px;
    --star-color: #f0f0f0;
    --star-background: #fc0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .loading-dot {
    @apply origin-[32px_32px] animate-spin-slow after:absolute after:-ml-[3px] after:-mt-[3px] after:mb-0 after:mr-0 after:block after:h-[6px] after:w-[6px] after:rounded-[50%] after:bg-black after:content-['_'];
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
  font-weight: 500;
}

img {
  height: auto;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* loader */
/* .spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
} */

/*******************\
  Loading Roller
\*******************/

/* @keyframes lds-roller {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
} */

/* .lds-roller {
  position: relative;
  display: inline-block;
  height: 64px;
  width: 64px;

  div {
      animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 32px 32px;

      &:after {
          position: absolute;
          display: block;
          background: #00539f;
          border-radius: 50%;
          content: " ";
          margin: -3px 0 0 -3px;
          height: 6px;
          width: 6px;
      }

      &:nth-child(1) {
          animation-delay: -0.036s;

          &:after {
              top: 50px;
              left: 50px;
          }
      }

      &:nth-child(2) {
          animation-delay: -0.072s;

          &:after {
              top: 54px;
              left: 45px;
          }
      }

      &:nth-child(3) {
          animation-delay: -0.108s;

          &:after {
              top: 57px;
              left: 39px;
          }
      }

      &:nth-child(4) {
          animation-delay: -0.144s;

          &:after {
              top: 58px;
              left: 32px;
          }
      }

      &:nth-child(5) {
          animation-delay: -0.18s;

          &:after {
              top: 57px;
              left: 25px;
          }
      }

      &:nth-child(6) {
          animation-delay: -0.216s;

          &:after {
              top: 54px;
              left: 19px;
          }
      }

      &:nth-child(7) {
          animation-delay: -0.252s;

          &:after {
              top: 50px;
              left: 14px;
          }
      }

      &:nth-child(8) {
          animation-delay: -0.288s;

          &:after {
              top: 45px;
              left: 10px;
          }
      }
  }
} */
